.PreviewMedia{
    width: 100%;
    height: calc(100vh  - 60px);
    overflow: hidden;
    margin-top: 60px;
    position: absolute;
    background: black;
    z-index: 4000;
    padding: 5px;
}
.PreviewMedia video,
.PreviewMedia img{
    width: 100%;
    object-fit: contain;
    height: 100%;
    
    position: relative;
    padding: 0;
}
.PreviewMedia .close{
    filter: invert(1);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    z-index: 2;
    left: 5px;
    background: rgba(31, 30, 30, 0.151);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;

}
.PreviewMedia .close.close:hover{
    scale: 1.3;
    transition: all 0.5s;

}
