.sider-parent{
    width: 70px;
    background: #111213;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.041);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2px;
    padding-top: 1.5rem;
}
.sider-parent div{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 50% 50%;
    padding: 10px 2px;
}
.sider-parent div:hover{
    background-color: rgba(128, 128, 128, 0.106);
}
.sider-parent div img{
    width: 25px;
    filter: invert(1);
}
.sider-parent div p{
    color: white;
    font-size: 15px;
}
@media screen and (max-width: 1000px) {
    .sider-parent{
        height: 70px;
        flex-direction: row;
        width: 100%;
        overflow: hidden;
        padding: 0px;
        justify-content: space-evenly;
        gap: 5px;
        bottom: 0;
        margin: 0;
        position: absolute;
        z-index: 10;
        background: #111213;
    }
    .sider-parent div{
        width: 100%;
        height: 100%;
        max-width: 70px;
        justify-content: center;
    }
}