.stat-overall{
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    height:auto;
    min-height: 100%;
    position: relative;
}
.stat-overall .scrollParent{
    overflow-y: scroll;
}
.stat-overall .scrollParent::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.116);
    border-radius: 10px;
}
.stat-overall .scrollParent::-webkit-scrollbar{
    width: 3px;
    background: transparent;
}
.stat-overall h1{
    color: white;
    margin:35px 15px 10px;
    font-size: 30px;
}
.stat-overall p{
    color: white;
    font-weight: 600;
    font-size: 22px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.stat-overall input[type="text"]{
    margin-left: 10px;
    padding: 11px;
    outline: 0;
    color: whitesmoke;
    font-weight: 600;
    background: hsl(0, 0%, 20%);
    border-radius: 10px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.stat-overall::-webkit-scrollbar{
    display: none;
}
.status-Parent{
    width: 100%;
    padding-left: 10px;
    height: 180px;
    justify-content: left;
    /* padding-top: 20px; */
    overflow-x: scroll;
    display: flex;
    outline: 0;
}
.status-Parent .shrink{
    width: auto;
    display: flex;
    gap: 1rem;
    outline: 0;
}
.status-Parent::-webkit-scrollbar{
    display: none;
}

.user-status{
    width: 105px;
    height: 170px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    outline: 0;
}
.user-status p{
    color: aliceblue;
    left: 5%;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    margin: 0;
}
.user-status .caption{
    position: absolute;
    z-index: 900;
    color: aliceblue;
    bottom: calc(0vh - 50px);
    border-radius: 20px;
    text-align: center;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.068);
    align-items: center;
    padding-top: 8px;
    padding-bottom: 20px;
    display: none;
}
.user-status .caption h5{
    width: 100%;
    margin-bottom: 10px;
    max-width: 700px;
    height: auto;
    max-height: 60px;
    overflow: scroll;   
    font-size: 15px;
    font-weight: 600;
}
.user-status .caption .reply{
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    max-width: 800px;
    gap: 5px;
}
.user-status .caption .reply .replyInput{
    flex: 1;
    margin: 0;
    border-radius: 20px;
    padding: 0;
    padding-right: 7px;
    padding-left: 7px;
    display: flex;
    gap: 5px;
    background: rgba(0, 0, 0, 0.384);
}
.user-status .caption .reply .replyInput input{
    flex: 1;
    height: 100%;
    padding: 13px 0px;
    background: transparent;
    border: 0;
    outline: 0;
}
.user-status .caption .reply .replyInput input::placeholder{
    color: whitesmoke;
}
.user-status .caption .reply .replyInput .sendIcon{
    width: 33px;
    height: 33px;
    position: relative;
    top: 3.5px;
    filter: opacity(.8);
    cursor: pointer;
}
.user-status .caption .reply .likeIcon{
    width: 38px;
    top: 0px;
    cursor: pointer;
    height: 38px;
    position: relative;
}
.user-status .caption h5::-webkit-scrollbar{
    display: none;
}
.user-status .profile-mini{
    width: 30px;
    position: absolute;
    height: 30px;
    top: 3%;
    left: 5%;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #2176ff;
}
.user-status .status-upload-parent{
    display: flex;
    width: 100%;
    height: 100%;
}
.user-status .status-upload-parent .status{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    cursor: pointer;
    object-position: center;
    position: relative;
}
.user-status .status-upload-parent .status > img{
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
}
.user-status .profile-arrow, .user-status .left-arrow, .user-status .right-arrow{
    display: none;
}
.userAddStatus .profile-arrow{
    display: none;
}
.updateSearch{
    display: flex;
    width: 100%;
    padding-right: 15px;
    margin-bottom: 20px;
}
.updateSearch input{
    border: 0;
    flex: 1;
}
.updateSearch button{
    background: #2176ff;
    color: white;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.feed{
    display: flex;
    flex-direction: column;
    height: auto;
    height: calc(100% - 300px);
}
.feed .headline{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 0px;
    align-items: center;
}
.feed .headline p{
    font-size: 25px;
}
.feed .headline small{
    background: rgba(255, 255, 255, 0.055);
    font-weight: 600;
    color: whitesmoke;
    padding: 3px 10px;
    border-radius: 20px;
    cursor: pointer;
}
.feed .displayFeed .new{
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: left;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.089);
}
.feed .displayFeed .new:hover{
    background: rgba(255, 255, 255, 0.041);
}
.feed .displayFeed .new img{
    width: 80px;
    object-fit: contain;
}
.feed .displayFeed .new p{
    font-size: 15px;
}


.userAddStatus{
    width: 110px !important;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.199) !important;
    background: rgba(128, 128, 128, 0.062);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 !important;
}
.userAddStatus .profileImg{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    top: -7px;
    cursor: pointer;

}
.userAddStatus .addIcon{
    width: 18px;
    border: 1px solid black;
    height: 18px;
    background: green;
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    top: 85px;
    right: 28%;
}


.UserStatus-Parent{
    width: 100%;
    padding-left: 10px;
    height: 100%;
    justify-content: left;
    /* padding-top: 20px; */
    overflow-y: hidden;
    display: flex;
    outline: 0;
}
.UserStatus-Parent .shrink{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    gap: 5px;
    padding: 0px 20px 0px 0px;
}
.UserStatus-Parent .shrink::-webkit-scrollbar{
    display: none;
}
.UserStatus-Parent .shrink > div{
    width: 100%;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    border-radius: 0px;
}
.UserStatus-Parent .status-upload-parent{
    display: flex;
    justify-content: left;
    align-items: center;
}
.UserStatus-Parent .user-status{
    padding: 0px 15px;
    border-radius: 10px !important;
    background: rgba(128, 128, 128, 0.068);
}
.UserStatus-Parent .UserStatus{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}




.preview{
    position: fixed !important;
    width: 100vw !important;
    left: 0 !important;
    top: 0 !important;
    display: flex !important;
    justify-self: start !important;
    height: 100vh !important ;
    z-index: 2000 !important;
    justify-content: center !important;
}
.preview > img{
    width: 100vh;
}
.UserStatus-Parent .preview{
    padding: 0px !important;
}
.preview .left-arrow, .preview .right-arrow{
    position: absolute !important;
    display: block !important;
    z-index: 10000 !important;
    width:30px !important;
    opacity: .6 !important;
    cursor: pointer !important;
}
.preview .left-arrow{
    left: 2% !important;
    top: 45% !important;
}
.preview .right-arrow{
    right: 2% !important;
    top: 45% !important;
    transform: rotate(180deg) !important;
}
.preview .status-upload-parent{
    width: 50% !important;
    overflow: hidden !important;
}
.preview .profile-mini{
    z-index: 222 !important;
    width: 40px !important;
    height: 40px !important;
    top: 5% !important;
}
.preview p{
    top: 6% !important;
    left: 9% !important;
    font-size: 18px !important;
}
.preview .status-upload-parent .status, 
.preview .status-upload-parent .UserStatus{
    box-shadow: inset 0px 0px 50px 20px rgba(0, 0, 0, 0.082);
    position: absolute !important;
    width: 100vw !important;
    height: 100vh;
    padding: 0 !important;
    border-radius: 0% !important;
    object-fit: contain !important;
    object-position: center !important;
    top: 0;
    left: 0;
    /* transform: translate(-24%,0%) !important; */
    background-color: #31393c !important;
}
.preview .scroll{
    width: 100% !important;
    z-index: 10000 !important;
    position: absolute !important;
    height: 3px !important;
    top: 2% !important;
    display: flex !important;
    gap: 7px !important;
}
.preview .scroll > div{
    width: 100% !important;
    position: relative !important;
    height: 100% !important;
    background: hsl(0, 0%, 50%);
}
.preview .scroll .move{
    width: 100%;
    height: 100%;
    background: whitesmoke ;
    z-index: 22;
    animation: move 5s ;
}
.preview .hiddenItems{
    display: none !important;
}

@keyframes move {
    0%{
        width: 0%;
        
    }
    100%{
        width: 100%;
    }
}



.profile-arrow{
    left: 2% !important;
    z-index: 3000000 !important;
    display: none;
    top: 6% !important;
    position: absolute !important;
    width: 30px !important;
    opacity: .6 !important;
    cursor: pointer !important
}
.options{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    right: 25px;
    top: 13px;
}
.options img{
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.checkStatus{
    width: calc(100% - 50px);
}
.preview .checkStatus{
    width: 100vh !important;
}
.preview .options{
    display: none;
}

.userAddStatusLog{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px !important;
    border: 2px solid rgba(0, 128, 0, 0.411);
    background: rgba(128, 128, 128, 0.048);
    cursor: pointer;
    padding: 3px 0px;
}
.userAddStatusLog .profileImg{
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.userAddStatusLog .addIcon{
    width: 15px;
    height: 15px;
    background: green;
    padding: 3px;
    border-radius: 50%;
    position: relative;
    top: 10px;
    right: 10px;
}


.navigateBackIcon{
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 5px;
    filter: opacity(.5);
    background: gray;
    border-radius: 50%;
    padding: 4px;
    margin-left: 10px;
    cursor: pointer;
    padding-left: 2px;
}
.navigateBackIcon:hover{
    background: black;
    border: 1.5px solid white;
}

@media screen and (max-width:800px) {
    .stat-overall{
        width: 100%;
    }
}